<!DOCTYPE html>
<!--[if lt IE 7]>   <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>      <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>      <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	{% block cp_terms_head_style %}
		{% stylesheets
			'bundles/cpterms/vendor/bootstrap/dist/css/bootstrap.min.css'
			'bundles/cpterms/css/cpterms.css'
		%}
			<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
		{% endstylesheets %}
	{% endblock %}
</head>
<body class="{% block cp_terms_page_class %}{% endblock %}">
	{% block cp_terms_page_nav %}{% endblock %}
	{% block cp_terms_page_title %}{% endblock %}
	{% block cp_terms_content %}{% block body_class %}{% endblock %}{% endblock %}
	{% block cp_terms_foot_script %}{% endblock %}
</body>
</html>
